{% extends "layout.html" %}

{% block content %}


<body style="background-color:LavenderBlush;">
</body>
<p style="font-family:verdana">This is my final project in data science.</p>
<p style="font-family:verdana">In this project, i took a database about hotels in israel from the site datagov.il.</p>
<p style="font-family:verdana">You can see the database on the page DataModel.</p>
<p style="font-family:verdana">I analyzed the data using PANDAS.</p>
<p style="font-family:verdana">And i presented the results of the analysis on the graph in the page plot_demo</p>
    


<h2>{{ title }}.</h2>
<h3>{{ message }}</h3>

<table border="1">

    <tr>
        <td>
            <img src="https://www.isrotel.co.il/commerce/content/images/thumbs/0004657.jpeg?anchor=center&mode=crop&width=400&height=297" width="300" height="300" />
        </td>
        <td>
            <img src="https://cdn.eshet.com/odysseaimages/Atlantis/Maximal/8971_queen_of_sheba_hotel_main.jpg" width="300" height="300" />
        </td>
        <td>
            <img src="https://images.globes.co.il/images/NewGlobes/big_image_800/2019/800x392.2019429T133139.jpg" width="300" height="300" />

    </tr>


</table>

{% endblock %}