{% extends "layout.html" %}

{% block content %}

<body style="background-color:lavender;">
</body>

<div class="jumbotron">
    <h1 style="color:mediumpurple;">Final project by Elsa</h1>




    <div class="row">
        <div class="col-md-4">
            <h2 style="color:mediumpurple;">about my project</h2>
            <p>
                in this project you can find information about hotels
            </p>
            <div class="col-md-4"><a href="{{ url_for('about') }}"> find more information</a></div>
        </div>
    </div>
    >
</div>
        
    <div class="col-md-4">
    <h2 stule="color:mediumpurple;">what can you find?</h2>
    <p>
        in the page DataSet1 you will find a table of all the hotels in israel, the cities where they are
        located and the numbers of rooms in each hotel
    </p>
    <div class="col-md-4"><a href="{{ url_for('DataSet1') }}"> the table</a></div>
</div>
        
<div class="col-md-4">
    <h2>data science</h2>
    <p>
        in the page plot demo you will find the data graph of the hotels,
        and the national layout of the hotels
    </p>
    <div class="col-md-4"><a href="{{ url_for('plot_demo') }}"> the data graph</a></div>
</div>
        

        {% endblock %}
